@import "../../variables";

#experience {
  position: relative;
  background: $medium-dark-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .timeline {
      position: relative;
      margin-top: 3rem;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        width: 0.5rem;
        margin-left: -0.25rem;
        background-color: $primary-color;
        top: 0;
        bottom: 0;
        left: 50%;
      }

      .job-card {
        position: relative;
        width: calc(50% - 3rem);

        &::after {
          content: "";
          position: absolute;
          width: 24px;
          height: 24px;
          right: calc(-3rem - 16px);
          background-color: $primary-color;
          border: 4px solid $medium-dark-color;
          border-radius: 50%;
          top: 50%;
          z-index: 1;
        }

        &:nth-of-type(2) {
          left: calc(50% + 3rem);
          right: 0;
          &::after {
            right: 0;
            left: calc(-3rem - 16px);
          }
        }

        .job-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h3 {
            color: $primary-color;
            span {
              color: $medium-light-color;
              font-size: 1.5rem;
              line-height: 1rem;
            }
          }
        }

        .job-roles {
          display: flex;
          flex-direction: column;

          &::before {
            content: "";
            background-color: $primary-color;
            height: 1px;
            margin: 1rem 0;
          }

          .role {
            margin-bottom: 1rem;

            .role-header {
              display: flex;
              justify-content: space-between;
              align-items: center;

              h3 {
                font-size: 1.5rem;
              }
            }

            .tech {
              color: $primary-color;
              margin-bottom: 0.5rem;

              span {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #experience .container {
    .section-title {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    .timeline {
      margin-left: 3rem;
      margin-top: 1rem;

      &::after {
        left: 0;
      }

      .job-card {
        width: 90%;
        left: 1rem;

        &::after {
          right: 0;
          left: calc(-1rem - 16px);
        }

        &:nth-of-type(2) {
          left: 1rem;
          &::after {
            right: 0;
            left: calc(-1rem - 16px);
          }
        }
      }
    }
  }
}
