@import "../../variables";

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .hero-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 5em;
    z-index: 1;
    width: 100%;

    .logo-content {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .img-container {
        position: relative;
        height: 40vh;
        width: 40vh;
        margin-right: 10%;

        .img-bubble {
          border-radius: 50%;
          background-color: $dark-color;
          border: 5px solid $primary-color;
        }

        .profile {
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 120%;
            margin-left: -10%;
          }
        }

        .wasoft {
          position: absolute;
          width: 50%;
          height: 50%;
          padding: 5%;
          bottom: -15%;
          right: -15%;
        }
      }
    }

    .info-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin: 0 3rem;
      max-width: 100%;
      min-width: 270px;

      h2 {
        line-height: 2.5rem;
        margin-top: 1.5rem;
      }

      span {
        color: $primary-color;
      }
    }
  }
}

@media (max-width: 768px) {
  #hero .hero-content {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    padding: 0;

    .logo-content {
      justify-content: center;

      .img-container {
        height: 60vw;
        width: 60vw;
      }
    }
    .info-content {
      margin: 0;
      min-width: unset;
    }
  }
}

@media (max-width: 1080px) and (orientation: landscape) {
  #hero .hero-content .logo-content .img-container {
    height: 50vh;
    width: 50vh;
  }
}
