@import "../../variables";

#pdf-page {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto auto auto 1fr;
  margin: auto;

  .profile,
  .about-me,
  .contact,
  .soft-skills,
  .hobbies {
    background-color: #aaaaaa;
  }

  .experience,
  .education,
  .skills {
    background-color: $light-color;
  }

  .profile {
    padding: 15%;

    .img-bubble {
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }

  .header {
    display: flex;
    background-color: #252525;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      margin: auto;

      h2 {
        font-size: 3rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
        margin: -0.5rem 0;
        letter-spacing: 4px;
      }
      hr {
        width: 100%;
        height: 3px;
        border: none;
        background-color: $primary-color;
      }
      h4 {
        color: #888888;
        font-size: 1.5rem;
        line-height: unset;
      }
    }
  }

  .about-me .paragraph {
    margin-bottom: 0.5rem;
  }

  .hobbies .items {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;

      .icon {
        border-radius: 50%;
        border: 2px solid $dark-color;
        padding: 0.5rem;

        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .skills .groups {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-top: 1rem;

    .skill-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .group-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          height: 2rem;
          width: 2rem;
        }
        .group-name {
          color: $dark-color;
          font-size: 1.5rem;
          line-height: 1.5rem;
          margin-left: 0.5rem;
        }
      }

      .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

        .skill-name {
          color: $dark-color;
          font-size: 1rem;

          &:not(:last-child)::after {
            content: " | ";
          }
        }
      }
    }
  }

  // Shared
  h2,
  h3 {
    font-weight: normal;
  }

  p {
    color: $dark-color;
    font-size: 0.85rem;
  }

  .resume-section {
    padding: 1rem;
  }

  .info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;

    .icon {
      height: 24px;
    }
  }

  .timeline {
    padding-top: 1rem;

    &-item {
      display: grid;
      grid-template-columns: 4.5rem 3px 1fr;
      gap: 0.5rem;

      .dates p {
        text-align: center;
      }

      .line {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: $dark-color;

        &::after {
          content: "";
          position: absolute;
          left: -8px;
          width: 10px;
          height: 10px;
          background-color: $primary-color;
          border: 4px solid $medium-dark-color;
          border-radius: 50%;
          z-index: 1;
        }
      }

      .desc {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
        margin-bottom: 1rem;

        .title {
          color: $dark-color;
          font-size: 1.5rem;
        }
        .sub-title {
          color: $dark-color;
          font-size: 1.25rem;
        }
      }
    }
  }
}
