@import "../../variables";

#header {
  .menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: $navbar-hight;
    background-color: $dark-color;
    z-index: 2;
    opacity: 0.9;
    transition: 1s;

    &.hidden {
      transform: translateY(-100%);
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1.5rem;

      .logo {
        height: 100%;
        margin-left: 1rem;
        &-img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
