@import "../../variables";

/* A lot of styling just to have this hamburger menu to display and change into a cross on click */
#mobile-nav {
  display: none;
  position: relative;
  height: 60px;
  width: 60px;
  z-index: 11;

  .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Middle line */
  .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Top & bottom lines */
  .hamburger > div::before,
  .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  /* Moves Line Down */
  .hamburger > div::after {
    top: 10px;
  }

  /* Toggler Animation */
  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* Turns Lines Into X */
  .toggler:checked + .hamburger > div:before,
  .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* Rotate On Hover When Checked */
  .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
}

#side-panel {
  position: fixed;
  height: 100vh;
  width: 70vw;
  top: 0;
  left: 30vw;
  background-color: $dark-color;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: $navbar-hight;
  padding: 0 1.5rem;
  z-index: 10;

  .item {
    color: $light-color;
    padding: 0.25rem 0;
    margin: 0.5rem 0;

    &.active,
    &:hover {
      border-bottom: $primary-color solid 2px;
      color: $primary-color;
    }
  }

  &.hidden {
    transform: translateX(100%);
  }

  .lang {
    img {
      margin: 0.5rem;
      width: 34px;
      padding: 2px;

      &.active {
        border-radius: 50%;
        border: 4px solid $primary-color;
        padding: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  #lang-drop{
    display: none;
  }

  #mobile-nav {
    display: unset;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #side-panel {
    width: 50vw;
    left: 50vw;
  }
}
